.header {
  padding: 30px 80px 40px;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  background-image: url(../images/background_header.svg);
  background-position: center;
  box-sizing: border-box;
  position: relative;
  background-size: cover;
  z-index: 1;
}

.header__image {
  position: absolute;
  top: 124px;
  right: 5px;
  width: 646px;
  height: 568px;
  z-index: -1;
}

.header__title {
  margin: 183px 0 0;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
  max-width: 729px;
  color: #000; /* Heading text color */
}

.header__paragraph {
  margin: 0;
  color: #838383; /* Paragraph text color */
  font-weight: 500;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;


}

.header__span-accent {
  color: #2f80ed;
  display: block;
  font-style: italic;
  font-weight: normal;
  font-family: "Noto Serif", "Times New Roman", serif;
}

.header__description {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  margin: 28px 0 0;
  max-width: 683px;
  color: #000; /* Description text color */
}

.header__footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
